<!DOCTYPE html>
<html>
<head>
  <title>CeleryDemo</title>
  <link rel="stylesheet" href="//d3dgd0mlwma3bq.cloudfront.net/assets/application-6b4e8e1cec655e83d3bab091bc70fe02.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
